:root{
    --heading1: 5rem;
    --paragraph: 1.6rem;
    --heading3: 1.6rem;
    --heading4: 1.2rem;

    --font-abel: "Abel", sans-serif;
    --font-shadows-into-light: "Shadows Into Light", cursive;
    --font-roboto-mono: "Roboto Mono", monospace;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
html,
body{
    height: 100%;
}
/* Set core body defaults */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap:wrap;
  overflow-wrap: break-word;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg{
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
h1{
    font-size: var(--heading1);
    font-family: var(--font-abel);
} 
h3{
    font-size: var(--heading3);
    font-family: var(--font-shadows-into-light);
    text-align: center;
}
h4{
    font-size: var(--heading4);
    font-family: var(--font-shadows-into-light);
    text-align: center;
    padding-inline: 0.2rem;
}  
p{
    font-size: var(--paragraph);
    font-family: var(--font-shadows-into-light);
    padding-inline-start: 1rem;
}

/*---------------------------*/
body{
    display: flex;
    justify-content: center;
}
.container{
    /*max-width: 900px;*/
    margin: 1rem;
    width: 1200px;
    display: flex;
    flex-direction: column;
}
.search-bar{
    border: solid red;
    margin-block: 2rem;
    display: flex;
    gap: 1rem;
    border-radius: 2rem;
    padding-inline: 3rem;
    width: fit-content;
    align-self: center;
}
.search-bar > input{
    padding-block:0.8rem;
    font-size: 1.5rem;
    border: none;
}
.search-bar > img{
    width: 2rem;
}
.search-bar > input:focus {
    outline: none;
    border-color: transparent;
}
/*--------------------------------------------------*/

/*.main{
    border: solid;
}*/
.current{
    display: flex;
    flex-wrap: wrap;
}
.current__additional{
    flex: 1;
}
.current__primary{
    display: flex;
    padding-inline: 4rem;
    padding-block: 1rem;
    flex-wrap: wrap;
    justify-content:center ;
}
.current__primary > img{
    width: 11rem;
}
.current__primary__info{
    width: fit-content;
    padding-inline-end: 1rem;
}
.current__minmax{
    padding-block-start: 1rem;
    display: flex;
}
.current__min{
    display: flex;
}
.current__min > img{
    width: 2rem;
}
.current__max{
    display: flex;
}
.current__max > img{
    width: 2rem;
}


/*-------------------------------*/

.current__additional{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

.current__additional__info{
    display: flex;
    flex-wrap: wrap;
    width: 33.33%;
    height: fit-content;

}
.current__additional__info > img{
    width: 3rem;
    padding-inline-end: 0.5rem;
}

