html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0; 
    padding: 0;
}
.main-container{
    border: solid black ;
    width: 70vw;
    right: auto;
}

/*-----------------------------------------------------*/

.search-bar{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    padding: 0.7rem 2rem;
    border-radius: 2rem;
    background-color: antiquewhite;
    border: solid black;
}

.input{
    width: 100%;
    font-size: 1.3rem;
    padding: .6rem 2rem;
    border: none;
    background: transparent;
}
.input:focus {
    outline: none; /* Remove focus outline */
    border-color: transparent; /* Make border transparent on focus */
}

/*-------------------------------------------------------------------*/
.current-info-container{
    border: solid red;
    height: 60%;
    margin-top: 1rem;
    display: flex;
}
.main-info{
    border: solid blue;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.current-info{
    border: solid yellow 3px;
    min-height: 300px;
    min-width: 400px;
    display: flex;
    padding-top: 1rem;
}
.cw-info{
    border: solid brown;
    flex: 1;  
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.cw-temp{
    border: solid black;
    font-size: 3rem;
}
.cw-weather{
    border: solid blue;
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 1rem;
}
.cw-icon img{
    border: solid black;
    flex: 1;
    width: 250px;
}
.cw-min-max{
    border: solid yellow;
    padding: 1rem;
    margin-top: 1rem;
}

.additional-info{
    border: solid orange;
    flex: 1;
}
